<template>
  <div class="home">
    <div class="content">



      <ListEpices msg="Sentez, goûter, savourez" />


    </div>

  </div>
</template>

<script>
// @ is an alias to /src
import ListEpices from "@/components/ListEpices.vue";

export default {
  name: "home",
  data(){

    return {
      selectedSpice:{},

    }
  },

  components: {

    ListEpices
  },
  methods: {
    setSelected (_selectedSpice){
      this.selectedSpice = _selectedSpice
    }
  }
};
</script>
<style>
  img {
    width: 250px;
    height: 200px;
  }
</style>
