<template>
  <div class="product">
    <h1>{{ msg }}</h1>

    <div class ="item" v-for=" product in products" :key=product.name>
      <p class="pName"> <a href ="#" @click = "product.isShowing =!product.isShowing">{{ product.name }}</a></p>
      <div class="product-image">
        <img v-bind:src="product.image" v-bind:alt="altText"/>
      </div>
      <div class="product-infos" v-show="product.isShowing">
        <p> {{product.description}}</p>
        <p v-if="counter >10">Nombre de produits disponibles :{{ counter }}</p>
        <p v-else-if="counter <=10 && counter >0">En quantité limité</p>
        <p v-show="ProductSold">Epuisé</p>

        <button @click="purchase" >Acheter</button>

      </div>

    </div>


  </div>
</template>

<script>

export default {
  name: "ListEpices",
  props: {
    msg: String,
  },
  data() {
    return {

      products: [{
        name: 'vanille',
        description: "La meilleure au monde , La vanille de Madagscar apporte à votre plat, un parfum " +
                "qui vous fera voyager au coeur de l'île",
        image:require('../assets/vanille.jpg'),
        isShowing:false

      }, {
        name: 'girofle',
        description: "Tout simplement bon, disponible en poudre et en clou",
        image: require('../assets/girofle.jpg'),
        isShowing:false
      }]
    }
  },
  methods:{
    purchase(){
      this.$store.dispatch('removeProduct',1)
    },
    changeShow(){

    }



    }
  ,
  computed:{
    counter(){
      return this.$store.state.count
    },
    ProductSold (){
      return this.$store.getters.isProductSoldIn
    },


  }

};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.item{
  display: inline-block;
  width: 40%;
  padding-left: 5px;
}
.pName{
  display: flex;
  padding-left: 10rem;
  font-size: 20px;
  font-weight: bold;
}
.product-image {
  display: flex;
  flex-flow: wrap;
  padding: 1rem;
  width: 40%;
  margin: 0;
}
  .product-infos{
  width: 35%;
    position: absolute;

  }
</style>
